@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: hsl(235, 16%, 14%); */
    /* background-color: hsl(234, 17%, 12%); */
    background-image: url('images/pattern-hills.svg'), url('images/bg-stars.svg'), linear-gradient( hsl(235, 18%, 12%), hsl(236, 21%, 26%));
    background-position: bottom, top;
    background-repeat: no-repeat, repeat;
    background-size: contain;
    background-attachment: fixed;
}

.container {
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
    text-align: center;
}

.col10 {
    flex: 100%;
    margin: auto;
}

h3 {
    color: white;
    padding: 50px;
}

.timer {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    width: 70%;
}

.card {
    background-color: hsl(237, 18%, 59%);
    padding: 20px;
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 3px rgb(29, 27, 27);
    border-radius: 7px;
    display: flex;
}

p {
    margin: auto;
    font-size: 50px;
    font-family: 'red ha';
}

hr {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0%;
}


/* timer color  hsl(345, 95%, 68%) 
timer card color hsl(237, 18%, 59%)
* /